.list {
    display: flex;
    padding-bottom: 30px;
    color: hsla(240, 79%, 48%, 0.774);
    font: 600 2rem 'Lora', serif;
    letter-spacing: 1px;
    list-style: none;
}

.title {
    padding: 0 30px;
}

.headerLink {
    color: #0c2453;
    text-decoration: none;
    position: relative;
}

.headerLink::before {
    transition: all .3s ease;
    content: "";
    position: absolute;
    left: -5%;
    width: 110%;
    height: 100%;
    display: block;
    top: 20px;
    z-index: -1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, rgba(154, 185, 220, 0.75) 61%, rgba(44, 113, 191, 0.75) 100%);
    opacity: 0;
}

.headerLink:hover::before {
    opacity: 1;
    top: 10px;
}