.container {
    min-height: 50vh;
}

.list {
    display: flex;
    margin: 0;
    padding: 0 0 30px 0;
    color: hsla(240, 79%, 48%, 0.774);
    font: 600 2rem 'Lora', serif;
    text-shadow: 0px 0px hsl(240, 60%, 48%);
    letter-spacing: 1px;
}

.title {
    list-style: none;
}