.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imgTitle {
    text-align: center;
    font: 600 1.5rem 'Lora', serif
}

.content, .contentText {
    margin: auto;
    text-align: center;
    width: 100%;
}

.contentText {
    background-color: #1c51bb9d;
    min-height: 40vh;
}

.dataName {
    display: block;
    justify-content: center;
    margin-top: 20px;
    color: #0c2453;
}

.dataImg {
    margin: 20px;
    text-align: center;
    max-height: 80vh;
    border: 2px solid #68702a;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.dataHeader {
    font-size: 1.3rem;
    font-weight: 800;
    justify-content: center;
    color: whitesmoke;
    padding: 40px 60px;
    text-align: left;
}