.back {
    font-size: 2rem;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #999;
}

.essays {
    color: red;
}

.heading {
    text-align: center;
    font: 600 1.5rem 'Lora', serif;
    color: hsla(240, 79%, 48%, 0.774);
    width: 100vw;
}

.bulletList {
    display: grid;
    grid-template-columns: repeat(1, 1fr) 50%;
}

.header {
    font: 600 1.5rem 'Lora', serif;
    color: hsla(240, 79%, 48%, 0.774);
}

.table {
    border-spacing: 0;
}

.dataBody {
    display: flex;
    flex-direction: column;
}

.dataName {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    color: #0c2453;
}

.dataImg {
    margin: 20px;
    text-align: center;
    width: auto;
    height: auto;
    max-height: 80vh;
    border: 2px solid #68702a;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.dataHeader {
    font-size: 1.3rem;
    font-weight: 800;
    justify-content: center;
    color: #b4a28c;
    padding: 40px 20px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #091b3f9d;
    padding: 40px 0;
}

.backLink {
    margin: auto;
    width: 10%;
    border-radius: 10px;
    padding: 15px;
}

.backLink:hover {
    background-color: #0c245334;
    transition: background-color .6s ease;
}