.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #999;
}

.essays {
    color: red;
}

.heading {
    text-align: center;
    font: 600 1.5rem 'Lora', serif;
    color: hsla(240, 79%, 48%, 0.774);
    width: 100vw;
}

.bulletList {
    display: grid;
    grid-template-columns: repeat(1, 1fr) 50%;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #091b3f9d;
    padding: 40px 0;
}

.backLink {
    margin: auto;
    width: 10%;
    border-radius: 10px;
    padding: 15px;
}

.backLink:hover {
    background-color: #0c245334;
    transition: background-color .6s ease;
}