.containerPadding {
    padding: 0 60px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.essays {
    color: red;
}

.header {
    font: 600 1.5rem 'Lora', serif;
    color: hsla(240, 79%, 48%, 0.774);
}

.bulletList {
    display: grid;
    grid-template-columns: repeat(1, 1fr) 50%;
}

.listItem {
    list-style: none;
}

.listItem:after {
    display: block;
    content: '';
    border-bottom: solid 2px #1a1adbc5;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 350ms ease-in-out;
    width: 80%;
    /* want to change the layout of this mapped array to flex eventually */
}

.listItem:hover:after {
    transform: scaleX(1);
}

.listItem:hover {
    font-size: 1.1rem;
    transition: font-size 350ms ease-in-out;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #091b3f9d;
    padding: 40px 0;
}

.backLink {
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    color: #0c2453;
    letter-spacing: 1px;
    font-size: 1rem;
}

.backLink:hover {
    font-weight: 700;
    font-size: 1.1rem;
    transition: all .3s ease;
}